body {
	background-color: black; 
	font-family: Roboto Mono;
	color: white;
}

.header {
	justify-items: start;
	display: flex;
	align-items: center;
	margin-top: 15px;
}

a {
	color: black;
	text-decoration: none;
}	

.menu {
	margin-top: 25px;
	justify-items: stretch;
	display: flex;
	font-size: 22pt;
	align-items: center;
	margin: 0 auto;
	text-align: left;
	background-color: white;
}

.Link-1 {
	margin-left: 15px;
	margin-right: 15px;
	align-items: center;
	background-color: white;
	color: black;
	display: inline; 
    margin: 0 auto;
}

.Link-1:hover {
	font-size: 30pt;
	font-weight: bold;
}

.Link-3 {
	margin-left: 15px;
	margin-right: 15px;
	align-items: center;
	background-color: white;
	color: black;
	display: inline; 
    margin: 0 auto;
}

.Link-3:hover {
	font-size: 30pt;
	font-weight: bold;
}

.Link-4 {
	margin-left: 15px;
	margin-right: 15px;
	align-items: center;
	background-color: white;
	color: black;
	display: inline; 
    margin: 0 auto;
}

.Link-4:hover {
	font-size: 30pt;
	font-weight: bold;
}

.Link-5 {
	margin-left: 15px;
	margin-right: 15px;
	align-items: center;
	background-color: white;
	color: black;
	display: inline; 
    margin: 0 auto;
	font-family: Comic Sans MS;
}

.Link-5:hover {
	font-size: 30pt;
	font-weight: bold;
	font-family: Comic Sans MS;
}

.scan {
	position: relative;
	font-size: 72pt;
	color: black;
	-webkit-text-stroke: 0.01vw white;
	text-transform: uppercase;
	font-family: Roboto Mono;
	margin-top: 5px;
	margin-bottom: 5px;
}

.scan::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: white;
	-webkit-text-stroke: 0vw white;
	border-right: 2px solid white;
	overflow: hidden;
	animation: animate 6s linear infinite;
}

@keyframes animate {
	0%,10%,100% {
		width: 0;
	}
	70%,90% {
		width: 10ch;	
	}
}

.text {
	font-family: Roboto Mono;
	font-size: 24pt;
	color: white;
	margin-bottom: 5px;
}

.text-bottom {
	font-family: Roboto Mono;
	font-size: 24pt;
	color: white;
	margin-top: 5px;
}
